<html>
    <head>
        <title>Libro Form</title>
        <style>
            tr{
                background-color: green;
                color: white;
            }
            td{
                background-color: aqua;
                color:black;
            }
        </style>
    </head>
    <body>
        {% include "reviews\nav.html" %}
        <h1>Registro de Libros</h1>
        {% block content %}
        <form method='POST'>{% csrf_token%}
            {{form.as_p}}
            <input type='submit' value='Grabar'/>
        </form>
        {% endblock %}
        <h2>Libros ya registrados:</h2>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Fecha de Publicacion</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.fecha_publicacion }}</td>
                    <td>{{ libro.genero }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </body>
</html>