<html>
    <head>
        <title>Reseña Form</title>
        <style>
            tr{
                background-color: green;
                color: white;
            }
            td{
                background-color: aqua;
                color:black;
            }
        </style>
    </head>
    <body>
        {% include "reviews\nav.html" %}
        <h1>Registro de Reseñas</h1>
        {% block content %}
        <form method='POST'>{% csrf_token%}
            {{form.as_p}}
            <input type='submit' value='Grabar'/>
        </form>
        {% endblock %}
        <h2>Reseñas ya registradas:</h2>
        <table>
            <thead>
                <tr>
                    <th>Libro</th>
                    <th>Usuario</th>
                    <th>Calificacion</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                {% for resena in resenas %}
                <tr>
                    <td>{{ resena.libro }}</td>
                    <td>{{ resena.usuario }}</td>
                    <td>{{ resena.calificacion }}</td>
                    <td>{{ resena.comentario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>