<html>
    <head>
        <title>Usuario Form</title>
        <style>
            tr{
                background-color: green;
                color: white;
            }
            td{
                background-color: aqua;
                color:black;
            }
        </style>
    </head>
    <body>
        {% include "reviews\nav.html" %}
        <h1>Registro de Usuarios</h1>
        {% block content %}
        <form method='POST'>{% csrf_token%}
            {{form.as_p}}
            <input type='submit' value='Grabar'/>
        </form>
        {% endblock %}
        <h2>Usuarios ya registrados:</h2>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>